[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django = "*"
flake8 = "*"

[packages]
django = "<2.3"
django-extensions = "*"
django-compressor = "*"
libsass = "*"

[requires]
python_version = "3.4"
