<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<span class="navbar-brand">THE VOICE</span>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'candidates' %}">Candidates</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'teams' %}">Teams</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'activities' %}">Activities</a></li>
    </ul>
</div>
</nav>