{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'web/vendor/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
    <title>THE VOICE{% if title %} – {{ title }}{% endif %}</title>
  </head>
  <body>
    {% include "web/components/navbar.html" %}

    <main role="main" class="container">
      {% block content %}
      {% endblock content %}
    </main><!-- /.container -->

    <script src="{% static 'web/vendor/jquery/jquery-3.4.1.slim.js' %}"></script>
    <script src="{% static 'web/vendor/bootstrap/bootstrap.js' %}"></script>
  </body>
</html>