{% extends "web/base.html" %}

{% block content %}
    <h1 class="text-center">{{ candidate.user.get_full_name }}</h1>

    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            {% include "web/components/cards/team_name.html" with team=candidate.team %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 offset-sm-2">
            {% include "web/components/cards/candidate_score.html" with candidate=candidate %}
        </div>
        <div class="col-sm-4">
            {% include "web/components/cards/team_score.html" with team=candidate.team %}
        </div>
    </div>

    <hr />

    <h2>Activities</h2>
    {% if candidate.activity_set.count %}
        {% include "web/components/activity_table.html" with activities=candidate.activity_set.all %}
    {% else %}
        There are no activities.
    {% endif %}
{% endblock content %}