{% extends "web/base.html" %}

{% block content %}
    <h1>{{ candidate.user.get_full_name }}</h1>
    <p>Team: {{ candidate.team.name }}</p>
    <p>My Average: {{ candidate.average_score | floatformat:'0' | default:'N/A' }}</p>
    <p>Team Average: {{ candidate.team.average_score | floatformat:'0' | default:'N/A' }}</p>

    <hr />

    <h2>Activities</h2>
    {% if candidate.activity_set.count %}
        {% include "web/components/activity_table.html" with activities=candidate.activity_set.all %}
    {% else %}
        There are no activities.
    {% endif %}
{% endblock content %}